* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h2,h4{
    text-shadow: 
        1px 1px 0 white,  /* Black shadow offset 3px in both directions */
        -1px -1px 0 white; /* Black shadow offset -3px in both directions */
    color: black;
}



body {
    display: flex;
    justify-content: center;
    background-image: url('./bg.jpg');
    background-position: top center;
    background-position-y: 60%;
    padding: 12px;
}

.container {
    width: 600px;

}

header {
    display: flex;
    justify-content: space-between;
    height: 150px;
}

.video {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

video {
    margin-left: 10px;
    margin-right: 10px;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 22px 0;
}
.para{
    margin-top: 22px;
    -webkit-text-stroke: 3px white;
}

.contact {
    /* background-color: aqua; */
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 22px;
}

.contact-title {
    display: flex;
    align-items: center;
}
.contact-title i {
    font-size: 1.2rem;
    margin-right: 10px;
}
.footer{
    padding: 12px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 12px;
}
ul{
    list-style: none;
    display: inline-flex;
    gap: 22px;
}
li a{
    font-size: 1.5rem;
    color:black
}
li a:hover{
    color: blue;
}
@media screen and (max-width: 600px) {
    iframe{
        width: 100%;
    }
    .container{
        width: 100%;
    }
}