iframe{
    width: 100%;
    aspect-ratio: 16 / 9;
    margin-bottom: 30px;
}

.video{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 30px;
}

.video iframe{
    width: 32%;
    min-width: 300px;
    margin: 5px;
    aspect-ratio: 16 / 9;
}

.images{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 30px;
}

.images img{
    width: 32%;
    min-width: 300px;
    margin: 5px;
    aspect-ratio: 16 / 9;
}
