* {
    padding: 0;
    margin: 0;
}

body {
    width: 100%;
    display: grid;
    place-content: center;
    background-image: url('./bg.jpg');
    background-position: top center;
    background-position-y: 60%;
}

.page-content {
    /* From https://css.glass */
    
    width: 600px;
	padding: 10px 50px;
}

.container {
    margin: 0 auto;
    text-align: center;
}

.contact {
    margin: 0 20px;
    display: flex;
    justify-content: space-between;
    /**/
    align-items: center;
}

.content p {
    margin: 20px 0;
}

.header {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 40px;
}

.header img {
    width: 100px;
}

iframe {
    align-self: center;
    margin: 20px 0;
}

.fa-solid {
    font-size: 1.2rem;
}

.address {
    display: flex;
    justify-content: center;
    align-items: center;
}

.address p {
    text-align: left;
    margin-left: 10px;
}


.footer {
    margin: 30px 0;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    /* background-color: aqua; */
}

ul {
    list-style: none;
    display: inline-flex;
    margin: 10px 0;
    font-size: 1.8rem;
    gap: 20px;
}

a {
    color: black;
}

a:hover {
    color: #2930BE;
    transition: .3s;
}

@media only screen and (max-width: 400px) {
    .container {
        width: 300px;
    }

    iframe {
        width: 300px;
	.awimg{
	width:150px;
    }
}
